<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.commands">
      <command
            id="com.flamefire.importsmalinames.cmd.rename"
            name="cmdRename">
      </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               label="Refactor"
               id="org.eclipse.jdt.ui.refactoring.menu">
            <command
                  commandId="com.flamefire.importsmalinames.cmd.rename"
                  label="Apply smali names"
                  style="push"
                  tooltip="Apply variable and parameter names from smali">
                <visibleWhen checkEnabled="true">
                    <or>
                        <with variable="activePartId">
                          <equals value="org.eclipse.jdt.ui.CompilationUnitEditor" />
                        </with>
                        <with variable="activeMenuSelection">
                          <iterate ifEmpty="false" operator="and">
                            <or>
                              <adapt type="org.eclipse.jdt.core.IType" />
                              <adapt type="org.eclipse.jdt.core.ICompilationUnit" />
                            </or>
                          </iterate>
                        </with>
                      </or>
                </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="com.flamefire.importsmalinames.handlers.RenameVariablesHandler"
            commandId="com.flamefire.importsmalinames.cmd.rename">
      </handler>
   </extension>
</plugin>
